<!DOCTYPE html>
<html>
<%- include('includes/head', {title: "Pizzaria Express"})%>
<body>
    <%- include('includes/header') %>
    <main>
        <section class="jumbotron">
            <h1 class="display-4">A melhor pizza expressa!</h1>
            <p class="lead">A pizza mais saborosa da região no menor tempo na sua casa.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="/cardapio/visualizar" role="button">Ver cardápio</a>
        </section>
    </main>
</body>
</html>